<!DOCTYPE html>
<html>
  <head>
  <%= metamagic :title => "My default title", :description => "My default description.", :keywords => %w(keyword1 keyword2 keyword3) %>
    <title>Jumpstartrails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  </head>
  <body>
    <div class="container">
      <%= render './shared/header' %>
      <%= yield %>
      <hr />
      <%= render './shared/footer' %>
    </div> <!-- /container -->
  </body>
</html>